/* Add basic styling for NavLinks */
.nav {
  display: "inline-block";
  width: 70%;
  padding: 12px;
  margin: 0 6px 6px;
  border-radius: 75px;
  background: #313131;
  text-decoration: none;
  text-align: center;
  color: white;
}

.nav:hover {
  background: #858585;
  color: white
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

.mainContainer {
  margin-top: 10px;
}

.doctorcard {
  width: 15rem;
  margin: 15px
}
.cardimage{
  max-height: 140px;
  overflow: hidden;
}

.footer {
  color: #fff;
  background-color: #313131;
  text-align: center;
  padding: 25px 0;
  bottom: 0;
  margin-top: auto;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
  background: url("./components/assets/images/splash.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgb(182, 178, 178);
}

.about {
  min-height: 100vh;
  z-index: 1;
}

div.transbox {
  margin: 20px;
  background-color: #201818;
  opacity: 0.9;
  width: 55%;
}

div.transbox section {
  margin: 10px;
  color: #95b2ff;
  padding: 20px;
}

div.transbox h1 {
  font-weight: bold;
  color: #342d5697;
  padding: 0 0 10px 0;
}

#about img {
  max-height: 50%;
}

#about a {
  display: block;
}

.book-now {
  transition-delay: 3s;
}